/* CSS Reset */


html{
    scroll-behavior: smooth;
    background-color:  rgb(173, 168, 168);
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
h1{
    color:white;
}
.logout{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    background: none;
    border-color: white;
    font-family: 'Baloo Bhai', cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    color: rgb(240, 248, 255);
    
    
    
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('bachground.jpeg') no-repeat center center/cover ;
    
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}



#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Helvetica, serif;
}
/* Services Section */
#services{
    margin: 5px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    /* padding: 30px; */
    margin: 2px 10px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   /* height: 240px;
   width: 315px; */
   margin: 0px;
   object-fit: cover;
   display: block;
   /* height: 40%; */
   width: 100%;
   /* border-radius: inherit; */
   border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    /* border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit; */
   transform: none;
   will-change: transform ,opacity;
  
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 
#services-container{
    /* background-color: rgb(84, 79, 79); */
    margin: 0%;
    padding: 0%;
    font-family: Okra, Helvetica, sans-serif;
}


/* Clients Section */
#client-section{ 
    position: relative;
    /* background-color:  rgb(84, 79, 79); */
    margin: 0px;
    padding: 0px;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
    background-color: #080710;
    width: 40%;
    align-items: center;
    border-radius: 50px;
    margin-left: 20px;
}
#contact h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: antiquewhite;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px;
    padding-top: 2px;
    margin-top: 70px;
}
#contact-box input, 
#contact-box textarea{
    /* width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem; */
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   /* font-size: 1.3rem;
   font-family: 'Bree Serif', serif; */
   display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: antiquewhite;

}



footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.heading{
    font-family: 'Poppins';
    font-size: 4rem;
    /* padding: 12px; */
    font-weight: 700;
    color: aliceblue;
}



.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}